body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background: #111;
    color: #fff;
}

* {
    box-sizing: border-box;
}

h1, h3 {
    font-weight: 600;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 91vh;
    width: 100vw;
    background-image: url(
        /static/img/clouds.jpg
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.city_input {
    display: flex;
    width: 30rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5rem;
    overflow: hidden;
}

.city_input > input {
    width: 100%;
    height: 100%;
    padding: .5rem;
    border: none;
    background-color: inherit;
}

.city_input > button {
    height: 100%;
    border: none;
    background-color: inherit;
}

.pollution_switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.switch_btn {
    display: flex;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.8);
    border-radius: 4rem;
    padding-right: 0.5rem;
    height: 1.8rem;
}

.switch_btn > span {
    margin-left: 0.5rem;
}

.switch_btn > input {
    height: 0;
	width: 0;
	visibility: hidden;
}

.switch_btn label {
	cursor: pointer;
	text-indent: -9999px;
	width: 2.4rem;
	height: 1.6rem;
	background: #2b2a28;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch_btn label:after {
	content: '';
	position: absolute;
	top: 9%;
	left: 3px;
	width: 1.3rem;
	height: 1.3rem;
	background: #fff;
	border-radius: 0.8rem;
	transition: 0.3s;
}

.switch_btn > input:checked + label {
    background-color: #d46702;
}

.switch_btn > input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

.down {
    display: flex;
}

.weather {
    width: 50%;
    height: 30rem;
    margin-left: 3rem;
}

.weather_general {
    display: flex;
}

.temperature {
   font-size: 2.5rem;
   margin-right: 2rem;
   width: 33%;
}

.city {
    text-transform: capitalize;
    font-style: "Railway";
    font-size: 1.5rem;
    width: 32%;
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

.current_date {
    font-size: 0.9rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    display: inline-block;
}

.icon {
    width: 33%;
    margin-left: -1.5rem;
}

.icon > img {
    display: block;
}

.description {
    margin-left: 1rem;
    text-transform: capitalize;
}

.conditions {
    margin-top: -2rem;
}

.conditions > h5 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: -1rem;
}

.pollution {
    width: 50%;
    height: 29rem;
    background-color: rgba(0,0,0,.4);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.pollution_header {
    display: flex;
    align-items: center;
}

.pollution_header h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: underline overline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.4rem;
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.icon_skull {
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.pollution_details {
    list-style: none;
    padding-top: 2rem;
}


.pollution_details > li {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-style: "Railway";
}

.air_quality_index {
    font-size: 2rem;
    font-weight: bold;
    font-style: "Railway";
}

#map { 
    height: 600px; 
}